{% extends "blog/base.html" %}
{% block title %}{% if is_create %}新建文章{% else %}编辑文章{% endif %}{% endblock %}

{% block content %}
<div class="card">
  <h1>{% if is_create %}新建文章{% else %}编辑文章{% endif %}</h1>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="primary">保存</button>
    {% if article %}
      <a class="btn" href="{{ article.get_absolute_url }}">取消</a>
    {% else %}
      <a class="btn" href="{% url 'blog:article_list' %}">取消</a>
    {% endif %}
  </form>
</div>
{% endblock %}
